html,body{
  margin: 0;
  padding: 0;
  font-size: 11pt;
  height: 100%;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#app #headerview, #app #footerview{
  flex: 1 0 auto;
}

#app #routerview{
  margin: 40px 0 20px 0;
  flex: 0 1 100%;
}

a{
  text-decoration: none;
  color: steelblue;
  cursor: pointer;
  font-weight: 600;
}

a:hover{
  text-decoration: underline;
}

h1{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 32pt;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h2{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 11pt;
  font-weight: 600;
  color: gray;
  margin-top: 0.5em;
  margin-bottom: 0.15em;
  letter-spacing: 0.03em;
}

hr{
  border: 0;
  border-top: 1px solid lightgray;
}

hr.margin{
  margin: 20px 0 20px 0;
}

.center-col{
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: ;
  padding-right: 20px;
  box-sizing: border-box;
}

.pointer{
  cursor: pointer;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.instructions{
  background: lightblue;
  padding: 10px;
}

.right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.space-around{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-gray{
  color: gray;
}

.text-small{
  font-size: smaller;
}

.flex-end{
  align-items: flex-end;
}

.flex-end-self{
  align-self: flex-end;
}

.stick-to-top{
  position: sticky;
  top: 0px;
}
